* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: solid 1px black;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    width: 80%;
    display: flex;
}

.slider-l {
    width: 80%;
    background-color: cadetblue;
    height: 400px;
}

.slider-r {
    width: 20%;
    background-color: crimson;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.slider-l img {
    width: 100%;
    height: 400px;
}


.item {
    height: 80px;
}

.item img {
    width: 100%;
    height: 80px;
}

